software/node-red/flows-broker.json
[
    {
        "id": "fde47f73cbf40559",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92f365f35a73a04e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.18.31",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3f6e99b76e23aca1",
        "type": "influxdb",
        "hostname": "http://localhost:8086",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f6d6faac45ed6ef7",
        "type": "mqtt in",
        "z": "fde47f73cbf40559",
        "name": "",
        "topic": "/pwo/devices/#",
        "qos": "0",
        "datatype": "json",
        "broker": "92f365f35a73a04e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "b795d98d68babed6",
                "ede80da3e61a43a3"
            ]
        ]
    },
    {
        "id": "b795d98d68babed6",
        "type": "debug",
        "z": "fde47f73cbf40559",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "ede80da3e61a43a3",
        "type": "influxdb out",
        "z": "fde47f73cbf40559",
        "influxdb": "3f6e99b76e23aca1",
        "name": "",
        "measurement": "data_pwo",
        "precision": "",
        "retentionPolicy": "",
        "database": "devices",
        "precisionV18FluxV20": "ns",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 920,
        "y": 160,
        "wires": []
    }
]